<a href="https://colab.research.google.com/github/priyasin01/ML-DL-PRACTICE/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##TASK 1##
Python : 

1) Reverse String
I/p : rakesh kumar   o/p : ramuk hsekar
i/p : deep  learn o/p : nrael peed

2) Reverse String
I/p : rakesh kumar   o/p : hsekar ramuk
i/p : deep  learn o/p : peed nrael


3) Sorting ascending a number
I/p : [3,9,2,5,90,3,2]  o/p : [2,2,3,3,5,9,90]
i/p : [4,9,3,5,0,9,4] o/p : [0,3,4,4,5,9,9]




4) Sorting descending a number
I/p : [3,9,2,5,90,3,2]  o/p : [90,9,5,3,3,2,2]
i/p : [4,9,3,5,0,9,4] o/p : [9,9,5,4,4,3,0]


5) Print 2nd smallest number
I/p : [3,9,2,5,90,3,2]  o/p : 2
i/p : [9,3,5,9,4] o/p : 3


6) Print 2nd largest number
I/p : [3,9,2,5,90,3,80,81,2]  o/p : 81
i/p : [14,9,3,5,15,9,4] o/p : 14


7) remove duplicate number
I/p : [1,9,2,3,4,6,8,1,2,3,6]  o/p :[1,9,2,3,4,6]
i/p : [5,4,6,1,1,1,2,1,2,3] o/p : [5,4,6,1,2,3]


8) revesre the list
I/p : ["b" ,"a","c","d"]   o/p :["d" ,"c","a","b"] 
i/p : ["a" ,"a","r","d"]  o/p : ["d" ,"r","a","a"] 


9) remove duplicate from the list
I/p : ["b" ,"a","c","d","a","c","k"]   o/p :["b" ,"a","c","d","k"]
i/p : ["a" ,"a","r","d","r"]  o/p :  ["a" ,"r","d"] 

10) Print the String in order
I/p : a2bMA@3H1h   o/p : AHMabh123@
i/p : 1D@DA1ab21ba . o/p : ADDaabb112@

11) Print the String in order and remove duplicated 
I/p : aB3c1D$A9A1$d3   o/p : ABDacd139$
i/p : Lg@32aH23 o/p : HLag23@

In [0]:
#1) Reverse String I/p : rakesh kumar o/p : ramuk hsekar i/p : deep learn o/p : nrael peed
def reversestr():
  Ip=input("Enter a string: ")
  text=Ip[::-1]
  print(text)
  
#def reverse(string): 
#    string = "".join(reversed(string)) 
#    return string

In [2]:
reversestr()

Enter a string: rakesh kumar
ramuk hsekar

In [3]:
reversestr()

Enter a string: deep learn
nrael peed

In [0]:
#2) Reverse String I/p : rakesh kumar o/p : hsekar ramuk i/p : deep learn o/p : peed nrael
def reverseWordSentence(Sentence):  
    return ' '.join(word[::-1] for word in Sentence.split(" "))

In [5]:
reverseWordSentence("rakesh kumar")

'hsekar ramuk'

In [6]:
reverseWordSentence("deep learn")

'peed nrael'

In [7]:
#3) Sorting ascending a number I/p : [3,9,2,5,90,3,2] o/p : [2,2,3,3,5,9,90] i/p : [4,9,3,5,0,9,4] o/p : [0,3,4,4,5,9,9]
print(sorted([3,9,2,5,90,3,2]))
sorted([4,9,3,5,0,9,4])

[2, 2, 3, 3, 5, 9, 90]

[0, 3, 4, 4, 5, 9, 9]

In [8]:
#4) Sorting descending a number I/p : [3,9,2,5,90,3,2] o/p : [90,9,5,3,3,2,2] i/p : [4,9,3,5,0,9,4] o/p : [9,9,5,4,4,3,0]
print(sorted([3,9,2,5,90,3,2],reverse=True))
sorted( [4,9,3,5,0,9,4],reverse=True)

[90, 9, 5, 3, 3, 2, 2]

[9, 9, 5, 4, 4, 3, 0]

In [0]:
#5) Print 2nd smallest number I/p : [3,9,2,5,90,3,2] o/p : 2 i/p : [9,3,5,9,4] o/p : 4
def secondsmallest(x):
  sort=sorted(x)
  return sort[1]

In [10]:
secondsmallest([3,9,2,5,90,3,2])

2

In [11]:
secondsmallest([9,3,5,9,4])

4

In [0]:
#6) Print 2nd largest number I/p : [3,9,2,5,90,3,80,81,2] o/p : 81 i/p : [14,9,3,5,15,9,4] o/p : 14
def secondlargest(x):
  sort=sorted(x,reverse=True)
  return sort[1]

In [13]:
secondlargest([3,9,2,5,90,3,80,81,2])

81

In [14]:
secondlargest([14,9,3,5,15,9,4])

14

In [15]:
#7) remove duplicate number I/p : [1,9,2,3,4,6,8,1,2,3,6] o/p :[1,9,2,3,8,4,6] i/p : [5,4,6,1,1,1,2,1,2,3] o/p : [5,4,6,1,2,3]
print(list(set([1,9,2,3,4,6,8,1,2,3,6])))
list(set([5,4,6,1,1,1,2,1,2,3]))

[1, 2, 3, 4, 6, 8, 9]

[1, 2, 3, 4, 5, 6]

In [16]:
#8) reverse the list I/p : ["b" ,"a","c","d"] o/p :["d" ,"c","a","b"] i/p : ["a" ,"a","r","d"] o/p : ["d" ,"r","a","a"] 
alist=["b" ,"a","c","d"]
alist.reverse()
print(alist)

['d', 'c', 'a', 'b']

In [17]:
alist=["a" ,"a","r","d"]
alist.reverse()
print(alist)

['d', 'r', 'a', 'a']

In [18]:
#9) remove duplicate from the list I/p : ["b" ,"a","c","d","a","c","k"] o/p :["b" ,"a","c","d","k"] i/p : ["a" ,"a","r","d","r"] o/p : ["a" ,"r","d"] 
list(set(["b" ,"a","c","d","a","c","k"]))

['c', 'd', 'k', 'a', 'b']

In [19]:
list(set(["a" ,"a","r","d","r"]))

['r', 'a', 'd']

In [20]:
#10) Print the String in order I/p : a2bMA@3H1h o/p : a2bMA@3H1h i/p : 1D@DA1ab21ba . o/p : 1112@ADDaabb

def sort_asc(numbers):
    for loop in range(len(numbers)):
        for i in range(len(numbers) - 1):
            if(numbers[i] > numbers[i+1]):
                temp = numbers[i+1]
                numbers[i+1] = numbers[i]
                numbers[i] = temp
    return numbers

def ordered_characters(string):
    ascii_values = []
    for character in string:
        ascii_values.append(ord(character))
    return ascii_values


def convert_and_return(string):
    ordered_characters_sorted = sort_asc(ordered_characters(string))
    ordered_characters_sorted_converted = []
    for num in ordered_characters_sorted:
        num = chr(num)
        ordered_characters_sorted_converted.append(num)
    return "".join(ordered_characters_sorted_converted)

convert_and_return('a2bMA@3H1h')

'123@AHMabh'

In [30]:
convert_and_return('1D@DA1ab21ba')

'1112@ADDaabb'

In [0]:
#11) Print the String in order and remove duplicated I/p : aB3c1DA9A1d3 o/p : 139ABDacd i/p : Lg@32aH23 o/p : 23@HLag
def remove_duplicates(numbers):
  removed_duplicates=[]
  for x in numbers:
    if x not in removed_duplicates:
      removed_duplicates.append(x)
  return removed_duplicates

def ordered_characters_without_duplicates(string):
    result = "".join(remove_duplicates(convert_and_return(string)))
    return result

In [28]:
print(ordered_characters_without_duplicates('aB3c1DA9A1d3'))

139ABDacd

In [29]:
print(ordered_characters_without_duplicates('Lg@32aH23'))

23@HLag